<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luxapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lux_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lux_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity   android:name=".Activities.MenuActivity"
                    android:label="@string/app_name"
                    android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".Activities.ParagemActivity"
            android:label="Protocolo: Paragem de Autocarro"
            android:parentActivityName=".Activities.MenuActivity" >
        </activity>

        <activity
            android:name=".Activities.ParqueActivity"
            android:label="Protocolo: Parque"
            android:parentActivityName=".Activities.MenuActivity" >
        </activity>

        <activity
            android:name=".Activities.PassadeiraActivity"
            android:label="Protocolo: Passadeira"
            android:parentActivityName=".Activities.MenuActivity" >
        </activity>

        <activity
            android:name=".Activities.RuaActivity"
            android:label="Protocolo: Rua"
            android:parentActivityName=".Activities.MenuActivity" >
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Activities.RegisterActivity" />
        <activity
            android:name=".Activities.MapDisplay" />
        <activity
            android:name=".Activities.ExperimentDisplay">
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyClusLeKyUp3UHnErDHeLmeUNDyssD1GRs" />
    </application>

</manifest>